spring:
    datasource:
        url: jdbc:postgresql://localhost:5432/nomedobd
        username: USERNAME
        password: PASSWORD
        tomcat: 
            test-while-idle: true
            validation-query: SELECT 1
        driver-class-name: org.postgresql.Driver
        initialization-mode: always
        data:
        - classpath:data.sql


    jpa:
        show-sql: true
        hibernate:
            ddl-auto: create
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect

firebase:
    database:
        url: YOUR_FIREBASE_DATABASE_HERE
